@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  background-color: #E5E5E5;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  color: #000000;
  margin: 0;
  height: 100%;
}

.page {
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
  text-align: center;
}

.inner-container {
  flex-grow: 1;
}

.visually-hidden {
  display: none;
}

.brown-btn {
  background-color: #756257;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.blue-btn {
  background-color: #83B3D3;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.list-unstyle {
  list-style: none;
}

.del_padding {
  padding: 0;
}

/** header **/

.page-header {
  display: flex;
  padding: 0 70px;
  min-height: 65px;
}

.logo-wrapper {
  width: 139px;
  position: relative;
  margin-right: 30px;
}

.logo-link {
  display: block;
  position: absolute;
}

.nav-menu {
  max-width: 550px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.nav-link {
  text-decoration: none;
  color: #000000;

  padding: 20px 17px;
  display: block;
}

.active-link {
  text-decoration: underline;
  text-underline-offset: 23px;
  text-decoration-color: #756257;
  cursor: pointer;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  max-width: 300px;
}

.search,
.favorites {
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.user-link {
  background-repeat: no-repeat;
  background-position: 50%;
}

.search-tool {
  background-image: url(/images/general/search.svg);
  width: 20px;
  height: 19px;
}

.fav-tool {
  background-image: url(/images/general/favorite.svg);
  width: 19px;
  height: 17px;
  position: relative;
}

.counter {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 6px;
  left: 12.48px;

  font-size: 10px;
  line-height: 13px;
  background-color: #7DB54F;
  border-radius: 50%;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn {
  line-height: 20px;
  min-width: 130px;
  padding: 9px 15px 8px;
  margin-left: 20px;
}

/** footer **/

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 72px;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
}

.social-link-item {
  display: flex;
  align-items: center;
}

.social-link-item:not(:last-child) {
  margin-right: 30px;
}

.twitter-link {
  background-image: url(/images/general/twitter.svg);
  width: 18px;
  height: 15px;
}

.facebook-link {
  background-image: url(/images/general/facebook.svg);
  width: 10px;
  height: 18px;
}

.youtube-link {
  background-image: url(/images/general/youtube.svg);
  width: 20px;
  height: 16px;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.footer-logo {
  display: flex;
}

/** index.html **/

.welcome-block {
  background: url(/images/index/before-welcome.svg) bottom/100% no-repeat,
  url(/images/index/index-background.jpg) 100%/cover no-repeat;
  background-color: #000000;
  padding: 51px 371px 78px;
}

.main-title-wrapper {
  padding: 63px 230px 80px;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 31px;
}

.main-subtitle {
  font-size: 22px;
  line-height: 36px;
  margin: 0;
}

.advantage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 384px;

  font-size: 18px;
  line-height: 21px;
}

.advantage:not(.with-icon) {
  row-gap: 30px;
}

.advantage-blue {
  color: #FFFFFF;
  background-color: #83B3D3;
  background-repeat: no-repeat;
}

.real-town {
  background-image: url(/images/index/real-town.jpg);
}

.evil-bridge {
  background-image: url(/images/index/evil-bridge.jpg);
}

.advantage-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.num {
  margin: 0;
}
.advantage-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0 75px;
}

.with-icon .advantage-description {
  margin: 20px 75px 0px;
}

.advantage-blue .advantage-description {
  margin: 0 90px;
}

.advantages-list {
  padding-left: 0;
  margin: 0;
}

.advantages-list li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage.road {
  background-color: rgba(131, 179, 211, 0.2);
}

.icon-house::before {
  content: "";
  display: block;
  background-image: url(/images/index/icon-house.svg);
  width: 75px;
  height: 72px;
  margin: 0 auto 23px;
}

.icon-food::before {
  content: "";
  display: block;
  background-image: url(/images/index/icon-food.svg);
  width: 74px;
  height: 70px;
  margin: 0 auto 23px;
}

.icon-suv::before {
  content: "";
  display: block;
  background-image: url(/images/index/icon-suv.svg);
  width: 64px;
  height: 76px;
  margin: 0 auto 23px;
}

.search-block {
  padding: 91px 240px 93px;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.search-subtitle {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 56px;
}

.search-btn {
  font-size: 20px;
  line-height: 36px;
  min-width: 575px;
  padding: 15px 0;
  border-radius: 10px;
}

.subscribe-index {
  background: url(/images/index/subscribe-bg.jpg) 100%/cover no-repeat;
  background-color: #000000;
  color: #FFFFFF;
  padding: 94px 200px 93px;
  text-align: center;
}

.subscribe-inner {
  padding: 0 200px 140px;
  text-align: center;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.subscribe-subtitle {
  font-size: 22px;
  line-height: 26px;
  margin: 29px 0 46px;
}

.subscribe-subtitle-inner {
  margin: 46px 0;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 600px 200px;
  grid-template-rows: 60px;
  justify-content: center;
}

.subscribe-input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0 19px 0 22px;
  font-size: 18px;
  line-height: 26px;
}

.subscribe-btn {
  font-family: "PT Sans";
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
}

/** catalog.html **/

.menu-select {
  background: url(/images/catalog/catalog-background.jpg) 100%/cover no-repeat #000000;
  color: #FFFFFF;
  padding: 36px 72px 83px 71px;
}

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  margin: 0;
}

.breadcrumps {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 45px;
}

.breadcrumps-link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
}

.bread-home {
  display: flex;
  background-image: url(/images/catalog/breadcrumps-home.svg);
  align-items: center;
  width: 12px;
  height: 12px;
  position: relative;
  margin-right: 26px;
}

.bread-home::after {
  content: "";
  background-image: url(/images/catalog/breadcrumps-gap.svg);
  width: 5px;
  height: 8px;
  position: absolute;
  left: 23px;

}

.checkbox {
  border: none;
  padding: 0;
  margin: 0;
}

.checkbox ul {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.form-text {
  font-size: 18px;
  line-height: 23px;
}

.search-form ul {
  margin: 0;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 30px;
  padding: 0;
}

.checkbox-input {
  margin: 0;
  margin-right: 19px;
}

.checkbox-price {
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 48px;
}

.checkbox-title-price {
  margin-bottom: 34px;
}

.price-input {
  box-sizing: border-box;
  background-color: inherit;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  padding: 14px 19px 11px 19px;
  max-width: 144px;
}

.price-input-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.price-input-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
}

.form-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.form-apply {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 21px;
  border-radius: 4px;
  width: 160px;
  height: 48px;
  padding: 0;
  margin-bottom: 20px;
}

.form-reset {
  font-family: "PT Sans";
  background-color: inherit;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  padding: 0;
}

.variants-container {
  padding: 44px 72px 73px;
}

.results {
  display: flex;
  align-items: center;
  margin-bottom: 53px;
  height: 48px;
}

.results-text {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.results-title {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
}

.show-first {
  font-family: "PT Sans";
  padding: 12px 13px;
  min-width: 287px;
  max-height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.display-mode {
  display: flex;
  margin: 0;
  margin-left: 81px;
}

.display-item {
  display: flex;
  align-items: center;
}

.display-item:not(:first-child) {
  margin-left: 8px;
}

.display-btn {
  display: flex;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  padding: 0;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: 50%;
}

.display-tile {
  background-image: url(/images/catalog/mode-tile.svg);
}

.display-slide {
  background-image: url(/images/catalog/mode-slideshow.svg);
}

.display-list {
  background-image: url(/images/catalog/mode-list.svg);
}

.variants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
  box-sizing: border-box;
  flex-basis: 1056px;
  margin: 0;
  margin-bottom: 54px;

  outline: 1px dashed red;
}

.variants-item {
  min-width: 340px;
  min-height: 438px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  outline: 1px dashed green;
}

.variants-link {
  text-decoration: none;
}

.variants-title {
  color: #000000;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  margin: 16px 0;
}

.variants-btn {
  font-size: 16px;
  line-height: 21px;
  padding: 9px 0 10px;
}

.learn-more-btn {
  min-width: 133px;
}

.to-favorites-btn {
  min-width: 141px;
  border-radius: 4px;
}

.rating-level {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  min-width: 160px;
  border-radius: 4px;
}

.load-more-btn {
  font-size: 20px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  max-width: 620px;
  padding: 17px 0;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.load-more-wrapper {
  padding: 30px 218px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 30px;
}

.green-btn {
  background-color: #7DB54F;
}

.pagination-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  display: flex;
  margin: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-page {
  color: #000000;
  background-color: #F2F2F2;
}

.on-display-wrapper {
  display: flex;
  align-items: center;
}

.on-display-title {
  font-weight: 400;
  margin: 0;
  margin-right: 51px;
}

.on-display-select {
  min-width: 160px;
  padding: 12px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

/** Псевдоклассы состояний */

.nav-link:hover:not(.active-link) {
  color: #756257;
}

.nav-link:active:not(.active-link) {
  color: rgba(117, 98, 87, 0.3);
}

.brown-btn:hover {
  background-color: #615048;
}

.brown-btn:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
}

.brown-btn:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.input {
  font-family: "PT Sans";
  background-color: #F2F2F2;
  border: none;
}

.input:hover {
  background-color: #E5E5E5;
}

.input:focus {
  background-color: #E5E5E5;
  outline: 3px solid #83B3D3;
}
