@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  color: #000000;

  background-color: #E5E5E5;
}

.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  width: 1200px;


  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
  text-align: center;
}

.inner-container {
  flex-grow: 1;
}

.visually-hidden {
  display: none;
}

.brown-btn {
  display: inline-block;

  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #756257;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.brown-btn:hover,
.brown-btn:focus,
.brown-btn:active {
  background-color: #615048;
}

.brown-btn:active {
  outline: none;
}

.brown-btn:focus {
  outline: 3px solid #83B3D3;
}

.blue-btn {
  display: inline-block;

  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #83B3D3;
  border: none;
  cursor: pointer;
}

.blue-btn:hover,
.blue-btn:active,
.blue-btn:focus {
  background-color: #68A2CA;
}

.blue-btn:active {
  outline: none;
}

.blue-btn:focus {
  outline: 3px solid #756257;
}

.list-unstyle {
  list-style: none;
}

.del_padding {
  padding: 0;
}

/** header **/

.page-header {
  display: flex;
  padding: 0 70px;
  min-height: 65px;
}

.logo-wrapper {
  position: relative;

  width: 139px;
  margin-right: 30px;
}

.logo-link {
  position: absolute;

  display: block;
}

.nav-menu {
  max-width: 550px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.nav-link {
  display: block;
  padding: 20px 17px 19px;

  text-decoration: none;
  color: #000000;
}

.nav-link:hover:not(.active-link) {
  color: #756257;
}

.nav-link:active:not(.active-link) {
  color: rgba(117, 98, 87, 0.3);
}

.active-link {
  position: relative;
}

.active-link::after {
  position: absolute;
  right: 15px;
  bottom: -1px;
  left: 15px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  max-width: 300px;
}

.user-menu div {
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.user-link {
  display: flex;
}

.header-ico {
  fill: #000;
}

.header-ico:hover {
  fill: #756257;
}

.header-ico:active {
  fill: #756257;
  opacity: 0.3;
}

.fav-tool {
  position: relative;
}

.counter {
  position: absolute;
  bottom: 6px;
  left: 12.48px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  font-size: 10px;
  line-height: 13px;
  color: #FFFFFF;

  background-color: #7DB54F;
  border-radius: 50%;
}

.menu-btn {
  min-width: 130px;
  padding: 9px 15px 8px;
  margin-left: 20px;

  line-height: 20px;
}

/** footer **/

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 27px;
  padding-left: 60px;
  min-height: 120px;
}

.socials-list {
  display: flex;
  list-style: none;
}

.socials-item:not(:last-child) {
  margin-right: 4px;
}

.socials-item a {
  display: block;
  width: 40px;
  height: 40px;

  background-repeat: no-repeat;
  background-position: 50%;
  outline: none;
}

.socials-item a:focus {
  box-sizing: border-box;
  border: 3px solid #83B3D3;
  border-radius: 10px;
}

.twitter-link {
  background-image: url("../images/general/twitter.svg");
  width: 18px;
  height: 15px;
}

.facebook-link {
  background-image: url("../images/general/facebook.svg");
  width: 10px;
  height: 18px;
}

.youtube-link {
  background-image: url("../images/general/youtube.svg");
  width: 20px;
  height: 16px;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.footer-logo {
  display: flex;
  align-items: center;
  width: 160px;
  height: 70px;
}

.footer-logo svg {
  fill: #000;
}

.footer-logo svg:hover {
  fill: #756257;
}

.phone:hover,
.phone:focus,
.footer-logo:hover,
.footer-logo:focus {
  color: #756257;
}

.phone:active,
.footer-logo:active {
  color: rgba(117, 98, 87, 0.3);
}

/** index.html **/

.welcome-block {
  padding: 51px 371px 78px;

  background-color: #000000;
  background: url("../images/index/before-welcome.svg") bottom/100% no-repeat,
  url("../images/index/index-background.jpg") 100%/cover no-repeat;

}

.main-title-wrapper {
  padding: 63px 230px 80px;
}

.main-title {
  margin: 0;
  margin-bottom: 31px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.main-subtitle {
  margin: 0;

  font-size: 22px;
  line-height: 36px;
}

.advantage-container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  padding: 0;
  margin: 0;
}

.advantage {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 384px;

  font-size: 18px;
  line-height: 21px;
}

.advantage-blue {
  grid-column: 1/-1;

  color: #FFFFFF;

  background-color: #83B3D3;
  background-repeat: no-repeat;
}

.blue-adv-wrapper {
  display: flex;
  flex-direction: column;
  width: 220px;
}

.real-town {
  background-image: url("../images/index/real-town.jpg");
  background-position-x: right;
}

.real-town-wrapper {
  align-self: flex-start;
  margin: 97px auto auto 90px;
}

.evil-bridge {
  background-image: url("../images/index/evil-bridge.jpg");
}

.evil-bridge-wrapper {
  align-self: flex-end;
  margin: 98px 90px auto auto;
}

.advantage-title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.num {
  margin: 30px 0;
}

.advantage-description {
  margin: 0;

  font-size: 18px;
  line-height: 21px;
}

.with-icon .advantage-title {
  margin-bottom: 20px;
}

.advantage-container li:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage.road {
  background-color: rgba(131, 179, 211, 0.2);
}

.icon-house::before {
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 23px;

  background-image: url("../images/index/icon-house.svg");
  content: "";
}

.house {
  padding: 89px 110px 79px;
}

.icon-food::before {
  display: block;
  width: 74px;
  height: 70px;
  margin: 0 auto 23px;

  background-image: url("../images/index/icon-food.svg");
  content: "";
}

.food {
  padding: 91px 75px 79px;
}

.icon-suv::before {
  display: block;
  width: 64px;
  height: 76px;
  margin: 0 auto 23px;

  background-image: url("../images/index/icon-suv.svg");
  content: "";
}

.suv {
  padding: 85px 75px 79px;
}

.adv-last-row {
  padding: 98px 75px 108px;
}

.search-block {
  padding: 89px 240px 93px;
}

.search-title {
  margin: 0;
  margin-bottom: 29px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-subtitle {
  margin: 0;
  margin-bottom: 56px;

  font-size: 22px;
  line-height: 26px;
}

.search-btn {
  min-width: 575px;
  padding: 15px 0 9px;

  font-size: 20px;
  line-height: 36px;

  border-radius: 10px;
}

.subscribe-index {
  padding: 94px 200px 94px;

  color: #FFFFFF;
  text-align: center;

  background-color: #000000;
  background: url("../images/index/subscribe-bg.jpg") 100%/cover no-repeat;
}

.subscribe-inner {
  padding: 0 200px 141px;

  text-align: center;
}

.subscribe-title {
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-subtitle {
  margin: 29px 0 46px;

  font-size: 22px;
  line-height: 26px;
}

.subscribe-subtitle-inner {
  margin: 46px 0;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 600px 200px;
  grid-template-rows: 60px;
  justify-content: center;
}

.subscribe-input {
  padding: 0 19px 0 22px;

  font-size: 18px;
  line-height: 26px;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.subscribe-btn {
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 20px;
  line-height: 26px;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.input {
  font-family: "PT Sans", Arial, sans-serif;

  background-color: #F2F2F2;
  border: none;
}

.input:hover,
.input:focus,
.input:active {
  background-color: #E5E5E5;
}

.input:active {
  outline: 3px solid #83B3D3;
}

/** catalog.html **/

.menu-select {
  padding: 40px 72px 84px 71px;

  color: #FFFFFF;

  background-color: #000000;
  background: url("../images/catalog/catalog-background.jpg") 100%/cover no-repeat #000000;
}

.catalog-title {
  margin: 0;

  font-weight: 700;
  font-size: 60px;
  line-height: 68px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 45px;
}

.breadcrumbs-link {
  display: block;
  width: 12px;
  height: 12px;

  background-image: url("../images/catalog/breadcrumps-home.svg");
}

.breadcrumbs-item {
  display: flex;
  position: relative;
  margin-right: 26px;
}

.breadcrumbs-item:after {
  position: absolute;
  display: flex;
  width: 5px;
  height: 8px;
  top: 3px;
  right: -17px;

  content: "";
  background-image: url("../images/catalog/breadcrumps-gap.svg");
}

.search-form {
  display: flex;
  align-items: center;
}

.checkbox {
  padding: 0;
  margin: 0;

  border: none;
}

.checkbox:first-child {
  margin-right: 67px;
}

.checkbox:nth-child(2) {
  margin-right: 169px;
}

.checkbox ul {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.form-text {
  font-size: 18px;
  line-height: 23px;
}

.search-form ul {
  margin: 0;
}

.checkbox-title {
  margin-bottom: 30px;
  padding: 0;

  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.checkbox-input {
  margin: 0;
  margin-right: 23px;
}

.checkbox-price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 48px;
  align-self: flex-start;
}

.checkbox-title-price {
  margin-bottom: 35px;
}

.price-input {
  padding: 14px 19px 11px 16px;
  max-width: 144px;

  font-family: "PT Sans", Arial, sans-serif;
  color: #FFFFFF;

  background-color: inherit;

  border: 2px solid #FFFFFF;
  box-sizing: border-box;
}

.price-input-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.price-input-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
}

.form-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-left: auto;
}

.form-apply {
  width: 160px;
  height: 47px;
  padding: 0;
  margin-bottom: 20px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;

  border-radius: 4px;
}

.form-apply:focus {
  outline: 3px solid #FFFFFF;
}

.form-reset {
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  color: #FFFFFF;

  background-color: inherit;
  border: none;
  cursor: pointer;
}

.variants-container {
  padding: 44px 72px 73px;
}

.results {
  display: flex;
  align-items: center;
  padding-bottom: 53px;
}

.results-text {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.results-title {
  margin: 0;
  margin-right: auto;

  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.show-first {
  padding: 11px 13px;
  min-width: 287px;
  max-height: 48px;

  font-family: "PT Sans", Arial, sans-serif;

  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.display-mode {
  display: flex;
  margin: 0;
  margin-left: 81px;
}

.display-item {
  display: flex;
  align-items: center;
}

.display-item:not(:first-child) {
  margin-left: 8px;
}

.display-btn {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 0;

  background-color: inherit;
  background-repeat: no-repeat;
  background-position: 50%;

  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.display-tile {
  background-image: url("../images/catalog/mode-tile.svg");
}

.display-slide {
  background-image: url("../images/catalog/mode-slideshow.svg");
}

.display-list {
  background-image: url("../images/catalog/mode-list.svg");
}

.variants {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  row-gap: 6px;
  margin: 0;
  margin-bottom: 29px;
}

.variants-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
}

.variants-item p {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 18px;
}

.variants-link {
  text-decoration: none;
}

.variants-title {
  margin: 13px 0;

  color: #000000;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.results-text:nth-of-type(2) {
  margin-right: 65px;
}

.variants-btn {
  padding: 7px 0 10px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
}

.learn-more-btn {
  min-width: 133px;
}

.to-favorites-btn {
  min-width: 141px;
  border-radius: 4px;
}

.to-favorites-btn:hover:not(.green-btn),
.to-favorites-btn:active:not(.green-btn) {
  outline: 1px solid #756257;
}

.rating-level {
  display: inline-block;
  min-width: 160px;
  margin-left: auto;

  text-transform: uppercase;
  text-align: center;

  background-color: #F2F2F2;
  border-radius: 4px;
}

p.rating-wrapper {
  margin: 0;
}

.load-more-btn {
  display: block;
  text-decoration: none;
  max-width: 620px;
  padding: 17px 0;
  margin-left: auto;
  margin-right: auto;

  font-size: 20px;
  line-height: 26px;
  text-align: center;

  border-radius: 4px;
}

.load-more-wrapper {
  padding: 29px 218px;
  margin-bottom: 30px;

  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

.green-btn {
  background-color: #7DB54F;
}

.green-btn:hover,
.green-btn:active,
.green-btn:focus {
  background-color: #6C9E42;
}

.green-btn:active {
  outline: none;
}

.green-btn:focus {
  outline: 3px solid #756257;
}

.pagination-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  display: flex;
  margin: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;

  text-decoration: none;
  font-size: 20px;
  line-height: 26px;

  border-radius: 4px;
}

.active-page {
  color: #000000;

  cursor: pointer;
  background-color: #F2F2F2;
}

.on-display-wrapper {
  display: flex;
  align-items: center;
}

.on-display-title {
  margin: 0;
  margin-right: 51px;

  font-weight: 400;
}

.on-display-select {
  min-width: 160px;
  padding: 12px;

  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

/** Общие псевдоклассы состояний */

.hover-opacity:hover {
  opacity: 0.6;
}

.active-opacity-text:active {
  color: rgba(255, 255, 255, 0.3);
}

.active-opacity:active {
  opacity: 0.3;
}

.focus-border-blue:focus {
  outline: 3px solid #83B3D3;
}
