
.visually-hidden {
    display: none;
}

@font-face { 
    font-family: "PT Sans"; 
    font-style: normal; 
    font-weight: 400; 
    src: url("../fonts/pt-sans-regular.woff2") format("woff2"); 
    font-display: swap; 
}

@font-face { 
    font-family: "PT Sans"; 
    font-style: normal; 
    font-weight: 700; 
    src: url("../fonts/pt-sans-regular.woff2") format("woff2"); 
    font-display: swap; 
}


.button:hover {
    background-color: #615048;
}

.button:focus {
    background-color: #615048;
    outline: 3px solid #83B3D3;
}

.button:active {
    background-color: #615048;
    color: rgba(255, 255, 255, 0.3);
    border: none;
}

.input {
    background-color: #F2F2F2;
    border: none;
}

.input:hover {
    background-color: #E5E5E5;
}

.input:focus {
    background-color: #E5E5E5;
    outline: 3px solid #83B3D3;
}

/* todo Сделать состояние ERROR */
.input:??? {
    background-color: #FFFFFF;
    border-inline: 2px solid #FF5757;
}

/* ? Сделать box-shadow для всей страницы
    ? Не указан параметр в макете */

body {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    margin: 0px 40px;
}

/* !header */

.page-header {
    display: flex;
    height: 65px;
    margin: 0px 70px;
}

.nav-menu {
    width: 345px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-left: 30px;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #000000;
}

.nav-link:hover:not(.active-link) {
    color: #756257;
}

.nav-link:active:not(.active-link) {
    color: rgba(117, 98, 87, 0.3);
}

.active-link {
    color: #000000;
    text-decoration: underline;
    text-underline-offset: 21px;
    text-decoration-color: #756257;
    cursor: pointer;
}

.user-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.search,
.favourites {
    width: 42px;
    text-align: center;
}

.search-tool {
    content: url(/images/general/search.svg);
    width: 18.05px;
    height: 18.1px;
    vertical-align: middle;
}

.search-tool:hover {
    content: url(/images/general/search-hover.svg);
    width: 18.05px;
    height: 18.1px;
    vertical-align: middle;
}

.search-tool:active {
    content: url(/images/general/search-active.svg);
    width: 18.05px;
    height: 18.1px;
    vertical-align: middle;
}

.fav-tool {
    content: url(/images/general/favorite.svg);
    width: 18.05px;
    height: 17px;
    vertical-align: middle;
}

.fav-tool:hover {
    content: url(/images/general/favorite-hover.svg);
    width: 18.05px;
    height: 17px;
    vertical-align: middle;
}

/*todo Не отображается на странице*/
.counter {
    display: inline-block;
    content: "";
    background-color: #7DB54F;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/*?Визуально размеры не совпадают с макетом \_(*_*)_/ */
.menu-btn {
    color: #FFFFFF;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    display: inline-block;
    width: 160px;
    background-color: #756257;
    border-radius: 4px;
    padding: 9px 0px 8px;
    margin-left: 20px;
}

/* !main */

.welcome-block {
    text-align: center;
    padding: 51px 0px 82px;
    background-color: #000000;
    background-image: url(/images/index/index-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

/* todo Спозиционировать декоративный элемент */
.advantages::before {
    content: url(/images/index/before-welcome.svg);
    position: absolute;
    display: block;
    border: 2px dashed rgb(2, 255, 65);
}

/* Преимущества */

.about-text {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 63px;
}

.reasons-paragraph {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    margin: 31px 0px 80px;
}

.advantage {
    width: 400px;
    height: 384px;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advantage-blue {
    color: #FFFFFF;
    background-color: #83B3D3;
    position: relative;
}

.advantage-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0px;
}

.advantages-list .advantage-description {
    margin-top: 20px;
}

.advantage-description.last-row {
    margin: 0px auto;
}

.num {
    margin: 30px 0px;
}

.advantage-description {
    font-size: 18px;
    line-height: 21px;
    max-width: 250px;
    margin: 0px auto;
}

.advantage-blue .advantage-description {
    max-width: 220px;
}

.advantages-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.advantages-list li:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantage.road {
    background-color: rgba(131, 179, 211, 0.2);
}

.real-town::after {
    content: url(/images/index/real-town.jpg);
    position: absolute;
    left: 400px;
    height: 384px;
}

.evil-bridge::before {
    content: url(/images/index/evil-bridge.jpg);
    position: absolute;
    left: 400px;
    height: 384px;
}

.icon-house::before {
    content: url(/images/index/icon-house.svg);
    width: 75px;
    height: 72px;
    display: block;
    margin: 0px auto 23px;

}

.icon-food::before {
    content: url(/images/index/icon-food.svg);
    width: 74px;
    height: 70px;
    display: block;
    margin: 0px auto 23px;
}

.icon-suv::before {
    content: url(/images/index/icon-suv.svg);
    width: 64px;
    height: 76px;
    display: block;
    margin: 0px auto 23px;
}

.search-block {
    text-align: center;
    padding: 91px 0 93px;
}

.search-question {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0px;
}

.search-offer {
    font-size: 22px;
    line-height: 26px;
    margin: 29px 0px 56px;
}

/* ?Визуально отличается от макета */
.search-link {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;

    background-color: #756257;
    text-decoration: none;
    display: inline-block;
    width: 575px;
    padding: 15px 0px;
    border-radius: 10px;
}

.subscribe {
    color: #FFFFFF;
    text-align: center;

    background-color: #000000;
    background-image: url(/images/index/subscribe-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 94px 0px;
}

.subscribe-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0px;
}

.subscribe-info {
    font-size: 22px;
    line-height: 26px;
    margin: 29px 0px 46px;
}

/* todo Соединить input и button */

.subscribe-input {
    width: 600px;
    height: 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0px 19px 0px 22px;
    font-size: 18px;
    line-height: 26px;
}

.subscribe-btn {
    background-color: #83B3D3;
    width: 200px;
    height: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px;

    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    border: none;
}

/* !footer */

.page-footer {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials-list {
    display: flex;
    justify-content: space-between;
    width: 107px;
    padding: 0px;
    margin-left: 72px;
}

.socials-list li {
    list-style: none;
}

.twitter-link {
    display: inline-block;
    width: 18px;
    height: 14px;
    content: url(/images/general/twitter.svg);
}

.facebook-link {
    display: inline-block;
    width: 10px;
    height: 18px;
    content: url(/images/general/facebook.svg);
}

.youtube-link {
    display: inline-block;
    width: 20.1px;
    height: 16px;
    content: url(/images/general/youtube.svg);
}

.phone {
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
}

.footer-logo {
    display: inline-block;
    width: 115px;
    height: 34px;
    content: url(/images/general/logo_htmlacademy.svg);
    margin-right: 72px;
}
