@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  min-width: 1280px;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  color: #000000;

  background-color: #E5E5E5;
}

.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  width: 1200px;


  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
  text-align: center;
}

.inner-container {
  flex-grow: 1;
}

.visually-hidden {
  display: none;
}

.brown-btn {
  display: inline-block;

  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #756257;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.brown-btn:hover,
.brown-btn:focus,
.brown-btn:active {
  background-color: #615048;
}

.brown-btn:active {
  outline: none;
}

.brown-btn:focus {
  outline: 3px solid #83B3D3;
}

.blue-btn {
  display: inline-block;

  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #83B3D3;
  border: none;
  cursor: pointer;
}

.blue-btn:hover,
.blue-btn:active,
.blue-btn:focus {
  background-color: #68A2CA;
}

.blue-btn:active {
  outline: none;
}

.blue-btn:focus {
  outline: 3px solid #756257;
}

.list-unstyle {
  list-style: none;
}

.del_padding {
  padding: 0;
}

/** header **/

.page-header {
  display: flex;
  padding: 0 70px;
  min-height: 65px;
}

.logo-wrapper {
  position: relative;

  width: 139px;
  margin-right: 30px;
}

.logo-link {
  position: absolute;

  display: block;
}

.nav-menu {
  max-width: 550px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.nav-link {
  display: block;
  padding: 20px 17px 19px;

  text-decoration: none;
  color: #000000;
}

.nav-link:hover:not(.active-link) {
  color: #756257;
}

.nav-link:active:not(.active-link) {
  color: rgba(117, 98, 87, 0.3);
}

.active-link {
  position: relative;
}

.active-link::after {
  position: absolute;
  right: 15px;
  bottom: -1px;
  left: 15px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  max-width: 300px;
}

.user-menu div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 12px;
}

.favorites {
  margin-right: 20px;
}

.user-link {
  display: flex;
}

.header-svg {
  fill: #000;
}

.header-svg:hover {
  fill: #756257;
}

.header-svg:active {
  fill: #756257;
  opacity: 0.3;
}

.fav-svg:active + .counter {
  color: rgba(255, 255, 255, 0.3);
}

.fav-tool {
  position: relative;
}

.counter {
  position: absolute;
  bottom: 6px;
  left: 12.48px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  font-size: 10px;
  line-height: 13px;
  color: #FFFFFF;

  background-color: #7DB54F;
  border-radius: 50%;
}

.menu-btn {
  min-width: 130px;
  max-width: 130px;
  padding: 9px 15px 8px;
  margin: 10px 0;
  grid-column: 4 / 5;

  line-height: 20px;
}

/** footer **/

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px 20px 60px;
  min-height: 120px;
  box-sizing: border-box;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 160px;
  margin: 0;
  margin-right: 20px;
}

.socials-item:not(:last-child) {
  margin-right: 4px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;

  outline: none;
}

.socials-svg {
  fill: #83B3D3;
}

.socials-svg:active {
  opacity: 0.3;
}

.socials-link:hover .socials-svg,
.socials-link:focus .socials-svg {
  fill: #68A2CA;
}

.socials-link:focus {
  box-sizing: border-box;
  border: 3px solid #83B3D3;
  border-radius: 10px;
}

.phone {
  display: flex;
  flex-wrap: wrap;
  min-width: 361px;
  max-width: 400px;
  min-height: 70px;
  align-items: center;
  justify-content: center;

  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.phone:hover,
.phone:focus {
  color: #756257;
}

.phone:active {
  color: rgba(117, 98, 87, 0.3);
}

.phone:focus {
  border-radius: 10px;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  max-width: 200px;
  min-height: 70px;
}

.footer-logo svg {
  fill: #000;
}

.footer-logo svg:hover {
  fill: #756257;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-logo:focus {
  border-radius: 10px;
}

.footer-logo:focus svg {
  fill: #756257;
}

/** index.html **/

.welcome-block {
  padding: 51px 371px 78px;

  background-color: #000000;
  background:
    url("../images/index/before-welcome.svg") bottom/100% no-repeat,
    url("../images/index/index-background.jpg") 100%/cover no-repeat;

}

.main-title-wrapper {
  padding: 63px 230px 80px;
}

.main-title {
  margin: 0;
  margin-bottom: 31px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.main-subtitle {
  margin: 0;

  font-size: 22px;
  line-height: 36px;
}

.advantage-container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  padding: 0;
  margin: 0;
}

.advantage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 384px;

  font-size: 18px;
  line-height: 21px;
  box-sizing: border-box;
}

.advantage-blue {
  grid-column: 1/-1;

  color: #FFFFFF;

  background-color: #83B3D3;
  background-repeat: no-repeat;
}

.blue-adv-wrapper {
  display: flex;
  flex-direction: column;
  width: 220px;
}

.real-town {
  background-image: url("../images/index/real-town.jpg");
  background-position-x: right;
}

.real-town-wrapper {
  align-self: flex-start;
  margin: 97px auto 87px 90px;
}

.evil-bridge {
  background-image: url("../images/index/evil-bridge.jpg");
}

.evil-bridge-wrapper {
  align-self: flex-end;
  margin: 98px 90px 86px auto;
}

.advantage-title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.num {
  margin: 30px 0;
}

.advantage-description {
  margin: 0;

  font-size: 18px;
  line-height: 21px;
}

.with-icon .advantage-title {
  margin-bottom: 20px;
}

.advantage-container li:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage.road {
  background-color: rgba(131, 179, 211, 0.2);
}

.icon-house::before {
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 23px;

  background-image: url("../images/index/icon-house.svg");
  content: "";
}

.house {
  padding: 89px 110px 79px;
}

.icon-food::before {
  display: block;
  width: 74px;
  height: 70px;
  margin: 0 auto 23px;

  background-image: url("../images/index/icon-food.svg");
  content: "";
}

.food {
  padding: 91px 75px 79px;
}

.icon-suv::before {
  display: block;
  width: 64px;
  height: 76px;
  margin: 0 auto 23px;

  background-image: url("../images/index/icon-suv.svg");
  content: "";
}

.suv {
  padding: 85px 75px 79px;
}

.adv-last-row {
  padding: 98px 75px 108px;
}

.search-block {
  padding: 89px 240px 93px;
}

.search-title {
  margin: 0;
  margin-bottom: 29px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-subtitle {
  margin: 0;
  margin-bottom: 56px;

  font-size: 22px;
  line-height: 26px;
}

.search-btn {
  min-width: 575px;
  padding: 15px 20px 9px;

  font-size: 20px;
  line-height: 36px;

  border-radius: 10px;
  box-sizing: border-box;
}

.subscribe-index {
  padding: 94px 200px 94px;

  color: #FFFFFF;
  text-align: center;

  background-color: #000000;
  background: url("../images/index/subscribe-bg.jpg") 100%/cover no-repeat;
}

.subscribe-inner {
  padding: 0 200px 141px;

  text-align: center;
}

.subscribe-title {
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-subtitle {
  margin: 29px 0 46px;

  font-size: 22px;
  line-height: 26px;
}

.subscribe-subtitle-inner {
  margin: 46px 0;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 600px 200px;
  min-height: 60px;
  justify-content: center;
}

.subscribe-input {
  padding: 0 19px 0 22px;

  font-size: 18px;
  line-height: 26px;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.subscribe-input:invalid {
  background-color: #FFFFFF;
  border: 2px solid #FF5757;
}

.subscribe-btn {
  padding: 10px;

  font-family: inherit;
  font-size: 20px;
  line-height: 26px;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.input {
  font-family: inherit;

  background-color: #F2F2F2;
  border: none;
}

.input:hover,
.input:focus,
.input:active {
  background-color: #E5E5E5;
}

.input:active {
  outline: 3px solid #83B3D3;
}

/** catalog.html **/

.menu-select {
  padding: 44px 72px 84px 71px;

  color: #FFFFFF;

  background-color: #000000;
  background: url("../images/catalog/catalog-background.jpg") 100%/cover no-repeat #000000;
}

.catalog-title {
  margin: 0;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 42px;
}

.breadcrumbs-link {
  display: flex;
  align-items: center;
  min-width: 12px;
  height: 12px;
  padding: 6px 8px 9px;
  transform: translateX(-6px);

  outline: none;
  background-image: url("../images/catalog/breadcrumps-home.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.breadcrumbs-link:focus,
.breadcrumbs-current:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 4px;
}

.breadcrumbs-current {
  display: block;
  padding: 3px 8px;

  text-decoration: none;
  color: #FFFFFF;
  outline: none;
  cursor: default;
}

.breadcrumbs-item {
  display: flex;
  position: relative;
  margin-right: 5px;
}

.breadcrumbs-item::after {
  position: absolute;
  display: flex;
  width: 5px;
  height: 8px;
  top: 10px;
  right: -2px;

  pointer-events: none;
  content: "";
  background-image: url("../images/catalog/breadcrumps-gap.svg");
}

.search-form {
  display: grid;
  grid-template-columns: 149px 246px 301px 160px;
  gap: 67px;
}

.checkbox {
  padding: 0;
  margin: 0;

  border: none;
}

.checkbox ul {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.form-text {
  font-size: 18px;
  line-height: 23px;
}

.search-form ul {
  margin: 0;
}

.checkbox-title {
  margin-bottom: 30px;
  padding: 0;

  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.checkbox-label {
  display: block;
  position: relative;
  cursor: pointer;
}

.checkbox-label:hover .checkbox-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.checkbox-mark {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.checkbox-input:checked + .checkbox-mark {
  background-image: url(../images/catalog/checkbox-tick.svg);
  background-repeat: no-repeat;
  background-position: 5px 50%;
}

.checkbox-input:active + .checkbox-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.checkbox-name {
  display: block;
  padding-left: 40px;
}

.radio-mark {
  position: absolute;
  top: 1px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.checkbox-input:checked + .radio-mark {
  background-color: #3F5E72;
  box-shadow: inset 0 0 0 5px #FFFFFF;
}

.checkbox-price {
  display: grid;
  grid-template-columns: repeat(2, 144px);
  align-self: flex-start;
}

.checkbox-title-price {
  margin-bottom: 35px;
}

.price-input {
  padding: 14px 45px 11px 16px;
  max-height: 48px;
  margin-bottom: 28px;

  font-family: inherit;
  color: #FFFFFF;

  background-color: inherit;

  border: 2px solid #FFFFFF;
  box-sizing: border-box;
}

.price-input-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.low-price-span,
.high-price-span {
  display: block;
  max-width: 20px;
  max-height: 20px;
  position: absolute;
  opacity: 0.3;
  overflow: hidden;
}

.low-price-span {
  transform: translate(113px, 13px);
}

.high-price-span {
  transform: translate(252px, 13px);
}

.price-input-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: translateX(-2px);
}

.price-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.price-input:active {
  border-color: #FFFFFF;
  background-color: #756257;
}

.price-input:focus {
  outline: none;
  border-color: #FFFFFF;
  box-shadow: inset 0 0 0 3px #81B3D2, 0 0 0 3px #81B3D2;
}

.range-scale {
  position: relative;
  height: 4px;
  grid-column: 1 / 3;

  background-color: rgba(255, 255, 255, 0.3)
}

.range-bar {
  position: absolute;
  height: inherit;
  width: 227px;


  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -8px;

  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

.toggle-max {
  right: -9px;
}

.range-toggle:hover,
.range-toggle:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.4);
  outline: 2px solid #83B3D3;
}

.form-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-left: auto;
}

.form-apply {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 160px;
  padding: 13px;
  margin-bottom: 16px;

  font-family: inherit;
  font-size: 16px;
  line-height: 21px;

  border-radius: 4px;
  overflow: hidden;
}

.form-apply:focus {
  outline: 3px solid #FFFFFF;
}

.form-reset {
  align-self: center;
  padding: 2px;
  min-width: 94px;
  max-width: 160px;

  font-family: inherit;
  color: #FFFFFF;

  background-color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
}

.form-reset:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.variants-container {
  padding: 44px 72px 66px;
}

.results {
  display: flex;
  align-items: center;
  padding-bottom: 53px;
}

.results-text {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.results-title {
  margin: 0;
  margin-right: auto;

  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.show-first {
  padding: 10px 40px 11px 18px;
  min-width: 287px;
  max-width: 500px;

  font-family: inherit;

  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;

  background-image: url(../images/catalog/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 18px center;
}

.show-first:active {
  opacity: 0.3;
}

.show-first:hover,
.display-btn:hover:not(.display-btn-current),
.show-first:focus,
.display-btn:focus:not(.display-btn-current) {
  outline: none;
  border-color: #83B3D3;
}

.display-mode {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
  margin: 0;
  margin-left: 81px;
}

.display-item {
  display: flex;
  align-items: center;
}

.display-btn {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 0;

  background-color: inherit;
  background-repeat: no-repeat;
  background-position: 50%;

  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.display-btn:active:not(.display-btn-current) {
  opacity: 0.6;
}

.display-btn-current {
  border: 2px solid #000000;
}

.display-tile {
  background-image: url("../images/catalog/mode-tile.svg");
}

.display-slide {
  background-image: url("../images/catalog/mode-slideshow.svg");
}

.display-list {
  background-image: url("../images/catalog/mode-list.svg");
}

.variants {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  row-gap: 10px;
  margin: 0;
  margin-bottom: 31px;
}

.variants-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
}

.variants-line {
  display: grid;
  grid-template-columns: 133px 141px;
  column-gap: 26px;
  row-gap: 16px;
  margin: 0;
  margin-bottom: 16px;
}

.variants-link {
  text-decoration: none;
}

.hotel-img {
  display: block;
  margin-bottom: 16px;
}

.variants-link:hover .hotel-img {
  opacity: 0.6;
  transition: 0.3s;
}

.variants-link:active .hotel-img {
  opacity: 0.3;
}

.variants-link:focus {
  outline: none;
}

.variants-link:focus .hotel-img {
  outline: 3px solid #83B3D3;
}

.variants-title {
  margin: 0;
  margin-bottom: 16px;

  color: #000000;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.variants-btn {
  padding: 8px;

  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  box-sizing: border-box;
}

.learn-more-btn {
  min-width: 133px;
}

.to-favorites-btn {
  min-width: 141px;
  border-radius: 4px;
}

.to-favorites-btn:hover:not(.green-btn),
.to-favorites-btn:active:not(.green-btn) {
  box-shadow: inset 0 0 0 1px #756257;
}

.rating-wrapper {
  display: grid;
  grid-template-columns: 1fr 160px;
  margin: 0;
}

.rating-level {
  width: 160px;

  text-transform: uppercase;
  text-align: center;

  background-color: #F2F2F2;
  border-radius: 4px;
}

.stars {
  display: block;
  align-self: center;
  height: 17px;
  background: url(../images/catalog/star.svg);
  background-size: 25px 18px;
}

.stars-two {
  width: 43px;
}

.stars-three {
  width: 68px;
}

.stars-four {
  width: 92px;
}

.load-more-btn {
  display: block;
  text-decoration: none;
  max-width: 620px;
  padding: 17px;
  margin-left: auto;
  margin-right: auto;

  font-size: 20px;
  line-height: 26px;
  text-align: center;

  border-radius: 4px;
}

.load-more-wrapper {
  padding: 32px 218px;
  margin-bottom: 27px;

  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

.green-btn {
  background-color: #7DB54F;
}

.green-btn:hover,
.green-btn:active,
.green-btn:focus {
  background-color: #6C9E42;
}

.green-btn:active {
  outline: none;
}

.green-btn:focus {
  outline: 3px solid #756257;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  max-width: 370px;

  font-weight: 700;
}

.pagination-item:not(:nth-child(6n)) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  min-width: 55px;
  padding: 14px;
  margin-bottom: 8px;

  text-decoration: none;
  font-size: 20px;
  line-height: 26px;

  border-radius: 4px;
  box-sizing: border-box;
}

.active-page {
  color: #000000;

  cursor: pointer;
  background-color: #F2F2F2;
}

.on-display-wrapper {
  display: flex;
  align-items: center;
  max-width: 386px;
  margin-bottom: 8px;
}

.on-display-title {
  margin: 0;
  margin-right: 51px;

  font-weight: 400;
}

.on-display-select {
  min-width: 160px;
  max-width: 160px;
  padding: 12px 50px 12px 15px;

  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  outline: none;

  background-image: url(../images/catalog/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 18px center;
}

.on-display-select:active {
  opacity: 0.3;
}

.on-display-select:hover,
.on-display-select:focus {
  outline: none;
  border-color: #83B3D3;
}

/** Общие псевдоклассы состояний */

.hover-opacity:hover {
  opacity: 0.6;
}

.active-opacity-text:active {
  color: rgba(255, 255, 255, 0.3);
}

.active-opacity:active {
  opacity: 0.3;
}

.focus-border-blue:focus {
  outline: 3px solid #83B3D3;
}

.in-focus:focus {
  box-sizing: border-box;
  outline: none;
  box-shadow: inset 0 0 0 2px #83B3D3;
}

/** Модальное окно **/

.modal-page {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(242, 242, 242, 0.8);
}

/* .close-modal-page {
  display: none;
} */

.modal-container {
  position: relative;
  width: 715px;
  margin: auto;
  padding: 61px 70px 70px 70px;

  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.modal-close-btn {
  position: absolute;
  width: 53px;
  height: 53px;
  right: 70px;
  top: 54px;
  padding: 0;

  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-btn svg {
  fill: #000;
  vertical-align: middle;
}

.modal-close-btn:hover,
.modal-close-btn:active,
.modal-close-btn:focus,
.modal-input:hover,
.modal-input:focus {
  background-color: #E6E6E6;
}

.modal-close-btn:active svg {
  opacity: 0.3;
}

.modal-close-btn:focus {
  outline: 3px solid #83B3D3;
}

.modal-title {
  display: block;
  margin: 0;
  margin-bottom: 61px;
  padding: 0;
  max-width: 500px;

  transform: translateX(-2px);
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-flex-container {
  display: grid;
  margin-bottom: 40px;
}

.modal-flex-container p {
  margin: 0;
  align-items: center;
}

.modal-date-container {
  display: grid;
  grid-template-columns: 155px 420px;
}

.modal-guests-container {
  display: grid;
  grid-template-columns: 155px 133px 1fr 133px;
}

.modal-field-label {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
}

.modal-input {
  height: 50px;

  font-family: inherit;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000;

  border: none;
  border-radius: 4px;
  background-color: #F2F2F2;
}

.modal-input:active,
.modal-input:focus {
  outline: none;
  background-color: #FFFFFF;
  box-shadow: inset 0 0 0 2px #000;
}

.modal-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.modal-date-input {
  padding: 0 50px 0 19px;

  grid-column: 2 / 5;
}

.modal-input-correct,
.modal-input-wrong {
  display: block;
  grid-column: 2 / 3;
  transform: translateY(-7px);

  font-size: 16px;
  line-height: 40px;
}

.modal-input-wrong {
  color: #FF5757;
}

.modal-input-correct {
  color: #333333;
}

.modal-input-date-btn {
  position: absolute;
  display: flex;
  align-items: center;

  margin-bottom: 38px;
  right: 89px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-input-date-svg {
  fill: #000;
  opacity: 0.3;
}

.modal-input-guests,
.modal-field-label-children {
  text-align: center;
}

.modal-input-guests {
  width: 100%;
  padding: 0 51px;
  box-sizing: border-box;
}

.modal-children-label-container {
  display: flex;
  justify-content: center;
}

.modal-field-label-children {
  position: relative;
}

.modal-input-number-btn {
  display: flex;
  align-items: center;
  position: absolute;
  width: 25px;
  height: 25px;

  border: none;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.modal-input-less-btn {
  margin-top: 12px;
  margin-left: 13px;
}

.modal-input-more-btn {
  margin-top: -38px;
  margin-left: 94px;
}

.modal-input-number-btn svg {
  fill: #000;
  opacity: 0.3;
}

.modal-input-number-btn:hover svg{
  opacity: 1;
}

.modal-input-number-btn:active svg{
  opacity: 0.2;
}

.modal-input-number-btn:focus svg{
  opacity: 1;
}

.modal-input-number-btn:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.modal-tooltip {
  position: absolute;
  margin-top: 9px;
  margin-left: 90px;
}

.modal-tooltip:hover .tooltip-icon {
  fill: #68A2CA;
}

.tooltip-icon {
  fill: #83B3D3;
  width: 100%;
  height: 100%;
}

.modal-tooltip-btn {
  display: flex;
  align-items: center;
  padding: 0;

  border: none;
  border-radius: 50%;
  background-color: transparent;
}

.modal-tooltip-text {
  position: absolute;
  display: block;
  width: 256px;
  padding: 19px 18px 24px 22px;
  margin-top: 15px;
  left: -115px;

  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;

  border-radius: 10px;
  background-color: #333333;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.modal-tooltip-text::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 9px;
  background-image: url(../images/general/modal-tooltip-background.svg);
  margin-top: -28px;
  left: 118px;
}

.modal-form-btn {
  width: 100%;
  min-height: 60px;
  border-radius: 10px;
  padding: 10px;

  font-size: 20px;
  line-height: 40px;
  font-family: inherit;
}
